@model ERP6.ViewModels.Out30VMs.ExportVM
@{ Layout = "/Views/Shared/STOLayout.cshtml";}

<div class="container-inner">
    <!-- top -->
    <div class="top-wrap">
        <!-- title -->
        <div class="top-title">
            <h2>CP212_寄賣庫存盤點表</h2>
        </div>
        <!-- Tool List-->
        <div class="top-toollist">
            <ul>
                <li>
                    <button class="tool-btn-print" onclick="document.getElementById('form').submit();"><span>列印</span></button>
                </li>
            </ul>
        </div>
    </div>
    <!-- Content -->
    <div class="container-content">
        <div class="container-column">
            <div class="container-col-2">
                <div class="inside-wrap">
                    <div class="inside-overflow">
                        <form id="form" method="post" action="@Url.Action("Export")">
                            <div class="form-wrap">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label>客戶編號設定</label>
                                                @Html.DropDownListFor(x => x.CusNo_Start, Model.CustomerList, "", new { @class = "easyui-combobox" })
                                            </div>

                                            <div class="form-input">
                                                @Html.DropDownListFor(x => x.CusNo_End, Model.CustomerList, "", new { @class = "easyui-combobox" })
                                            </div>
                                        </div>

                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label>產品編號設定</label>
                                                @Html.DropDownListFor(x => x.ProductNo_Start, Model.ProductList, "", new { @class = "easyui-combobox" })
                                            </div>

                                            <div class="form-input">
                                                @Html.DropDownListFor(x => x.ProductNo_End, Model.ProductList, "", new { @class = "easyui-combobox" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label>寄賣庫存設定</label>
                                                @Html.TextBoxFor(x => x.StockThreshold, new { @type = "number" })
                                            </div>
                                        </div>

                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label>結帳月份設定</label>
                                                @Html.TextBoxFor(x => x.BillingMonthStart, new { @type = "month" })
                                            </div>

                                            <div class="form-input">
                                                @Html.TextBoxFor(x => x.BillingMonthEnd, new { @type = "month" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label>列印類型</label>
                                            </div>
                                            @Html.RadioButtonFor(x => x.PrintType, "盤點表")盤點表
                                            @Html.RadioButtonFor(x => x.PrintType, "對帳表")對帳表
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>