@model ERP6.ViewModels.Out.IndexViewModel

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/Layout.cshtml";
    string UserAc = HttpContextAccessor.HttpContext.Session.GetString("UserAc");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>弘隆食品有限公司</title>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.easyui.min.js"></script>
    <link href="image/favico.ico" rel="shortcut icon">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/easyui.css" rel="stylesheet" />
    @*<script src="~/js/jquery-2.1.4.min.js"></script>*@
    <style>
        .data-item.active {
            background-color: #F5F9FF;
        }
        .order-input-stat input[type="checkbox"] {
            display: none;
            box-sizing: border-box;
            padding: 0;
        }
        
    </style>
</head>
<body>
    <article id="wrap">
        <!-- header -->
        <header class="header-wrap">
            <figure class="logo-wrap"><a href="@Url.Action("Index", "Home",new { UserAC = UserAc})"></a></figure>
            <div class="nav-wrap">
                <ul class="nav-list">
                    <li class="nav-item nav-1 is-active" title="進銷存系統">
                        <a href="@Url.Action("Index", "Vendor")"></a>
                    </li>
                    <li class="nav-item nav-2" title="財務系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-3" title="會計系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-4" title="人事">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-5" title="代號系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-6" title="分析系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-7" title="安全系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-8" title="">
                        <a href="###"></a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <!-- add system -->
                @*<div class="header-btn-add">
                        <a href="">
                            <i></i><span>新增系統</span>
                        </a>
                    </div>*@
                <!-- user info -->
                <div class="user-info">
                    <span>帳號名稱</span>
                    <h2>@UserAc</h2>
                </div>
                <!-- sign out -->
                <button class="signout-btn" onClick='window.location.href = "@Url.Action("Index", "Login")"'></button>
            </div>
        </header>
        <!-- main -->
        <main class="container-wrap">
            <!-- aside -->
            <aside class="aside-wrap">
                <div class="aside-head">STO進銷系統</div>
                <div class="aside-list">
                    <div class="aside-item">
                        <div class="aside-title is-c201 is-active">
                            <h2>進銷系統</h2>
                        </div>
                        <div class="aside-link" style="display: block;">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Vendor")">C201_廠商基本資料檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Customer")">C202_客戶基本資料檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Stock")">C203_產品基本資料檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Pur")">C204_採購單資料建檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "In")">C205_領料入庫資料檔</a>
                                </li>
                                <li>
                                    <a href="">C206_庫存異動單建檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Stock20")">C207_產品促銷單建檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Bou")">C208_報價單資料建檔</a>
                                </li>
                                <li class="is-active">
                                    <a href="@Url.Action("Index", "Out")">C209_出貨單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C210_寄賣客戶庫存檔</a>
                                </li>
                                <li>
                                    <a href="">C211_產品期初資料檔</a>
                                </li>
                                <li>
                                    <a href="">C212_盤點單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C213_加工產品資料檔</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- inner -->
            <div class="container-inner">
                <!-- top -->
                <div class="top-wrap">
                    <!-- top-title -->
                    <div class="top-title">
                        <h2>C209_出貨單資料建檔</h2>
                    </div>
                    <!-- top-toollist -->
                    <div class="top-toollist">
                        <ul>
                            <li>
                                <button class="tool-btn-first"><span>首筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-prev"><span>前筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-next"><span>次筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-last"><span>末筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-add"><span>新增</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-edit"><span>修改</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-del"><span>刪除</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-search"><span>查詢</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-export"><span>匯出檔案</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- content -->
                <div class="container-content">
                    <div class="container-column">
                        <div class="container-col-1">
                            <div class="data-wrap">
                                <div class="data-title">
                                    <div class="f-1 ta-left">出貨單號</div>
                                </div>
                                <div class="data-list">
                                    @if (Model.out10List != null && Model.out10List.Count > 0)
                                    {
                                        foreach (var item in Model.out10List)
                                        {
                                            <div class="data-item">
                                                <div class="f-1 out10 ta-left">@item.OutNo</div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="container-col-2 fl-5">
                            <form id="form" method="post">
                                @Html.HiddenFor(x => x.IsSearch)
                                <div class="inside-wrap">
                                    <div class="inside-overflow">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">客戶編號</label>
                                                            <div class="option">
                                                                @Html.TextBoxFor(x => x.CoNo, new { @class = "easyui-combobox font-16", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">建檔日期</label>
                                                            <div>
                                                                @Html.TextBoxFor(x => x.KeyinDate, new { @readonly = "readonly", type = "date" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">結帳日期</label>
                                                            <input type="text" value="月底" />
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">出貨單號</label>
                                                            @Html.TextBoxFor(x => x.OutNo, new { @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">出貨類別</label>
                                                            @Html.DropDownListFor(x => x.OutType, ViewBag.OutTypeList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">出貨日期</label>
                                                            @Html.TextBoxFor(x => x.OutDate, new { @readonly = "readonly", type = "date" })
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">帳款月份</label>
                                                            @Html.TextBoxFor(x => x.Paymonth, new { @readonly = "readonly", type = "date" })
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">計價幣別</label>
                                                            <select name="Ntus" id="Ntus">
                                                                <option value="NTD">NTD</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">備註</label>
                                                            <input id="Memo" name="Memo" class="easyui-combobox" readonly="readonly" />
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">業務人員</label>
                                                            <input type="text" id="PeNo" class="easyui-combobox" readonly="readonly" name="PeNo" />
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">司機人員</label>
                                                            <input type="text" id="DriveNo" class="easyui-combobox" readonly="readonly" name="DriveNo" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-link">
                                                <button type="button" id="AddDetail" class="link-add">
                                                    <i></i><span>清單資料</span>
                                                </button>
                                            </div>
                                            <div class="table2-wrap pad-t20 pad-b20 pad-r30 pad-l30">
                                                <div class="table2-title">
                                                    <div class="tabs-item">明細資料</div>
                                                </div>
                                                <div class="table2-overflow h-450">
                                                    <div class="table2-main">
                                                        <div class="tabs-content">
                                                            <div class="table-width w-1300">
                                                                <table>
                                                                    <tr class="sticky">
                                                                        <th class="p-5 ta-center">
                                                                            <span>序號</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>促銷</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>狀態</span>
                                                                        </th>
                                                                        <th class="p-9 ta-center">
                                                                            <span>產品編號</span>
                                                                        </th>
                                                                        <th class="p-18 ta-center">
                                                                            <span>品名規格</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>數量</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>單位</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>稅別</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>牌價</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>單價</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>折扣率</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>金額</span>
                                                                        </th>
                                                                        <th class="p-5 ta-center">
                                                                            <span>建議售價</span>
                                                                        </th>
                                                                        <th class="p-6 ta-center">
                                                                            <span>庫存</span>
                                                                        </th>
                                                                        <th class="p-17 ta-center">
                                                                            <span>備註</span>
                                                                        </th>
                                                                    </tr>
                                                                    @if (Model.out20List != null && Model.out20List.Count > 0)
                                                                    {
                                                                        foreach (var out20Item in Model.out20List)
                                                                        {
                                                                            <tr>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.Serno</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <input type="checkbox" value="" readonly disabled />
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <input type="checkbox" id="star1_1" readonly disabled />
                                                                                    <label for="star1_1"></label>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.PartNo</span>
                                                                                </td>
                                                                                <td href="#" class="ta-center">
                                                                                    <span>@out20Item.Spec</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.Qty</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.Unit</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.TaxType</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.PPrice</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.Price</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.Discount</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.Amount</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.SPrice</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.SPrice</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.STQty</span>
                                                                                </td>
                                                                                <td class="ta-center">
                                                                                    <span>@out20Item.Memo</span>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">應稅合計</label>
                                                        @Html.TextBoxFor(x => x.Total1, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">稅額</label>
                                                        @Html.TextBoxFor(x => x.Total1, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">免稅合計</label>
                                                        @Html.TextBoxFor(x => x.Total0, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">金額總計</label>
                                                        @Html.TextBoxFor(x => x.Total, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-flex f-s">
                                                    <div class="form-input">
                                                        <label for="">已收金額</label>
                                                        @Html.TextBoxFor(x => x.YesGet, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">現金扣%</label>
                                                        <div class="flex">
                                                            <div>
                                                                @Html.TextBoxFor(x => x.Discount, new { @style="width:85% ; display:inline-block;" , @readonly="readonly" }) %
                                                            </div>
                                                            <div>
                                                                @Html.TextBoxFor(x => x.CashDis, new { @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">折讓金額</label>
                                                        @Html.TextBoxFor(x => x.SubTot, new { @readonly = "readonly" })
                                                        @*<input id="PaperTail" name="PaperTail" class="easyui-combobox" />*@
                                                    </div>
                                                </div>
                                                <div class="form-flex f-s">
                                                    <div class="form-input">
                                                        <label for="">未收金額</label>
                                                        @Html.TextBoxFor(x => x.NotGet, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">輸入人員</label>
                                                        @Html.TextBoxFor(x => x.Userid, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-flex f-1">
                                                    <div class="form-input">
                                                        <label for="">重量合計</label>
                                                        @Html.TextBoxFor(x => x.Kg, new { @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-flex f-s">
                                                    <div class="form-input">
                                                        <label for="">過庫存</label>
                                                        @Html.TextBoxFor(x => x.StockPass, new { @readonly = "readonly" })
                                                        @*<input id="PaperTail" name="PaperTail" class="easyui-combobox" />*@
                                                    </div>
                                                </div>
                                                <div class="form-flex f-a">
                                                    <div class="form-input">
                                                        <label for="">結帳</label>
                                                        @Html.TextBoxFor(x => x.YnClose, new { @readonly = "readonly" })
                                                        @*<input id="PaperTail" name="PaperTail" class="easyui-combobox" />*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-bottom">
                                            <button type="button" class="btn-clean search">清除條件</button>
                                            <button type="submit" class="btn-submit">確定</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- popup -->
        <!-- 確認視窗 -->
        <div class="popup-wrap check">
            <div class="p-form">
                <p>是否確定執行?</p>
                <div class="p-btn pad-0">
                    <button type="button" class="btn-cancel small check">取消</button>
                    <button type="button" class="btn-submit small check">確定</button>
                </div>
            </div>
        </div>
        <!-- overlay -->
        <div class="popup-overlay"></div>
    </article>
    <!-- JS -->
    <script src="~/js/script.js"></script>
    <script>

        //客戶資料
        $('#CoNo').combobox({
            url: "@Url.Action("AjaxCustomerForEasyUI", "Ajaxs")",
            required: false,
            valueField: 'id',
            textField: 'text'
        });

        //備註資料
        $('#Memo').combobox({
            url: "@Url.Action("AjaxCustomerMemoForEasyUI", "Ajaxs")",
            required: false,
            valueField: 'id',
            textField: 'text'
        });

        //業務人員
        $('#PeNo').combobox({
            url: "@Url.Action("AjaxSalesForEasyUI", "Ajaxs")",
            required: false,
            valueField: 'id',
            textField: 'text'
        });

        //司機人員
        $('#DriveNo').combobox({
            url: "@Url.Action("AjaxDriveNoForEasyUI", "Ajaxs")",
            required: false,
            valueField: 'id',
            textField: 'text'
        });

        //初始資料
        $(function () {
            //先清除所有資料的綁定狀態
            $('.data-item').each(function (i, v) {
                $(this).removeClass('active');
            });

            let outNo = $("#OutNo").val();

            if (outNo) {
                //找出此筆資料
                $('.data-item').each(function (i, v) {
                    if ($(v).children('.f-1.out10').text() == outNo) {
                        $(this).addClass('active');

                        return;
                    }
                });

                let el = document.querySelector('.data-item.active');

                if (el) {

                    el.scrollIntoView(true);
                }
            }
        });

        //新增資料
        $(function () {
            $('.tool-btn-add').on('click', function () {
                $(".popup-wrap.check").addClass("is-active");
                $(".popup-overlay").addClass("is-active");

                //取消
                $('.btn-cancel.small.check').on('click', function () {

                    $(".popup-wrap.check").removeClass("is-active");
                    $(".popup-overlay").removeClass("is-active");
                });

                //確定
                $('.btn-submit.small.check').on('click', function () {

                    $(".popup-wrap.check").removeClass("is-active");
                    $(".popup-overlay").removeClass("is-active");

                    window.location.href = "@Url.Action("Add", "Out")";
                });
            });
        });

        //刪除資料
        $('.tool-btn-del').on('click', function () {
            $(".popup-wrap.check").addClass("is-active");
            $(".popup-overlay").addClass("is-active");

            //取消
            $('.btn-cancel.small.check').on('click', function () {
                $(".popup-wrap.check").removeClass("is-active");
                $(".popup-overlay").removeClass("is-active");
            });

            //確定
            $('.btn-submit.small.check').on('click', function () {
                $(".popup-wrap.check").removeClass("is-active");
                $(".popup-overlay").removeClass("is-active");

                let outNo = $("#OutNo").val()

                if (outNo != '') {
                    $.ajax({
                        url: "@Url.Action("Delete", "Out")",
                        type: 'POST',
                        data: { OutNo: outNo },
                        success: function (data) {
                            if (data) {
                                alert("刪除成功!");

                                window.location.href = "@Url.Action("Index", "Out")";
                            }
                            else {
                                alert("刪除失敗!");
                            }
                        }
                    });
                }
                else {
                    alert("找不到刪除資料!");
                }
            });
        });

        //修改資料
        $('.tool-btn-edit').on('click', function () {
            $(".popup-wrap.check").addClass("is-active");
            $(".popup-overlay").addClass("is-active");

            //取消
            $('.btn-cancel.small.check').on('click', function () {

                $(".popup-wrap.check").removeClass("is-active");
                $(".popup-overlay").removeClass("is-active");
            });

            //確定
                $('.btn-submit.small.check').on('click', function () {

                    $(".popup-wrap.check").removeClass("is-active");
                    $(".popup-overlay").removeClass("is-active");

                    let outNo = $("#OutNo").val();

                    if (!outNo) {
                        alert("找不到編輯資料!");
                    }
                    else {
                        window.location.href = "@Url.Action("Edit", "Out")/?OutNo=" + outNo;
                    }
                });
        });

        //首筆資料
        $(function () {
            $('.tool-btn-first').on('click', function () {
                //先清空錨點
                let firstDataItem = $('.data-item.active');

                if (firstDataItem.length != 0) {
                    firstDataItem.removeClass('active');
                }

                $('.data-item').each(function (i, v) {
                    if (i === 0) {
                        let firstItem = $(v).children('.f-1.out10').text();

                        $(v).addClass('active');

                        let el = document.querySelector('.data-item.active');

                        el.scrollIntoView(true);

                        FindDetails(firstItem)

                        @*window.location.href = "@Url.Action("Index", "Stock20")/?SpNo=" + firstItem;*@
                    }
                });
            });
        });

        //末筆資料
        $(function () {
            $('.tool-btn-last').on('click', function () {
                //先清空錨點
                let lastDataItem = $('.data-item.active');

                if (lastDataItem.length != 0 ) {
                    lastDataItem.removeClass('active');
                }

                //找出資料總比數
                let dataItem = $('.data-item');
                let length = dataItem.length;

                //找出最後一筆資料
                dataItem.each(function (i, v) {
                    if (i === (length - 1)) {
                        let outNo = $(v).children('.f-1.out10').text();
                        $(v).addClass('active');

                        let el = document.querySelector('.data-item.active');

                        el.scrollIntoView(true);

                        FindDetails(outNo)

                        @*window.location.href = "@Url.Action("Index", "Stock20")/?SpNo=" + spNo;*@
                    }
                });
            });
        });

        //下一筆資料
        $(function () {
            $(".tool-btn-next").on('click', function () {

                if ($('.data-item.active').length == 0) {
                    alert("請選擇起始資料");

                    return;
                }

                //找出下一個錨點
                var nextClass = $('.data-item.active').next();
                var outNo = $('.data-item.active').next().children('.f-1.out10').text();

                if (nextClass.length == 0) {
                    alert("已沒有下一筆資料")

                    return;
                }

                //刪除舊錨點，新增新錨點
                nextClass.addClass('active');
                nextClass.prev().removeClass('active');

                let el = document.querySelector('.data-item.active');

                el.scrollIntoView(true);

                FindDetails(outNo);


                @*window.location.href = "@Url.Action("Index", "Stock20")/?SpNo=" + nextClassValue;*@
            });
        });

        //上一筆資料
        $(function () {
            $(".tool-btn-prev").on('click', function () {

                if ($('.data-item.active').length == 0) {
                    alert("請選擇起始資料");

                    return;
                }

                //找出上一個錨點
                var prevClass = $('.data-item.active').prev();
                var outNo = $('.data-item.active').prev().children('.f-1.out10').text();

                if (prevClass.length == 0) {
                    alert("已沒有上一筆資料")

                    return;
                }

                //刪除舊錨點，新增新錨點
                prevClass.addClass('active');
                prevClass.next().removeClass('active');

                let el = document.querySelector('.data-item.active');

                el.scrollIntoView(true);

                 FindDetails(outNo);


                @*window.location.href = "@Url.Action("Index", "Stock20")/?SpNo=" + prevClassValue;*@
            });
        });

        //找出資料
        $(function () {
            $('.data-item').each(function (i, v) {
                $(this).on('click', function () {

                    $('.data-item').each(function (i, v) {
                       $(this).removeClass('active');
                    });

                    let outNo = $(this).children('.f-1.out10').text();

                    $(this).addClass('active');

                    FindDetails(outNo);

                    @*window.location.href = "@Url.Action("Index", "Stock20")/?SpNo=" + spNo;*@
                });
            });
        });

        //收尋
        $('.tool-btn-search').on('click', function () {
            $(".popup-wrap.check").addClass("is-active");
            $(".popup-overlay").addClass("is-active");

            //取消
            $('.btn-cancel.small.check').on('click', function () {

                $(".popup-wrap.check").removeClass("is-active");
                $(".popup-overlay").removeClass("is-active");
            });

            //確定
            $('.btn-submit.small.check').on('click', function () {
                $('#IsSearch').val(true);

                //清除資料
                $("#OutNo").val('');
                $("#OutType").val('');
                $("#OutDate").val('');
                $("#Paymonth").val('');
                $("#Ntus").val('');
                $("#CoNo").combobox('setValue', '');
                $("#Memo").combobox('setValue', '');
                $("#Total1").val('');
                $("#Userid").val('');
                $("#StockPass").val('');
                $("#YnClose").val('');
                $("#PeNo").combobox('setValue', '');
                $("#KeyinDate").val('');
                $("#YesGet").val('');
                $("#CashDis").val('');
                $("#SubTot").val('');
                $("#NotGet").val('');
                $("#Total0").val('');
                $("#Total").val('');
                $("#DriveNo").combobox('setValue', '');
                $("#Discount").val('');
                $("#Tax").val('');
                $("#Kg").val('');
                $("#Promotion_No").val('');

                //清除readonly屬性
                $("#OutNo").removeAttr('readonly');
                $("#OutType").removeAttr('readonly');
                $("#OutDate").removeAttr('readonly');
                $("#Paymonth").removeAttr('readonly');
                $("#Ntus").removeAttr('readonly');
                $("#CoNo").combobox('readonly', false);
                $("#Memo").combobox('readonly', false);
                $("#Total1").removeAttr('readonly');
                $("#Userid").removeAttr('readonly');
                $("#StockPass").removeAttr('readonly');
                $("#YnClose").removeAttr('readonly');
                $("#PeNo").combobox('readonly', false);
                $("#KeyinDate").removeAttr('readonly');
                $("#YesGet").removeAttr('readonly');
                $("#CashDis").removeAttr('readonly');
                $("#SubTot").removeAttr('readonly');
                $("#NotGet").removeAttr('readonly');
                $("#Total0").removeAttr('readonly');
                $("#Total").removeAttr('readonly');
                $("#DriveNo").combobox('readonly', false);
                $("#Discount").removeAttr('readonly');
                $("#Tax").removeAttr('readonly');
                $("#Kg").removeAttr('readonly');
                $("#Promotion_No").removeAttr('readonly');

                $(".popup-wrap.check").removeClass("is-active");
                $(".popup-overlay").removeClass("is-active");
                });
        });

        //清除搜尋資料
        $('.btn-clean.search').on('click', function () {

            //先清除所有資料的綁定狀態
            $('.data-item').each(function (i, v) {
                $(this).removeClass('active');
            });

            //清除資料
            $("#OutNo").val('');
            $("#OutType").val('');
            $("#OutDate").val('');
            $("#Paymonth").val('');
            $("#Ntus").val('');
            $("#CoNo").combobox('setValue', '');
            $("#Memo").combobox('setValue', '');
            $("#Total1").val('');
            $("#Userid").val('');
            $("#StockPass").val('');
            $("#YnClose").val('');
            $("#PeNo").combobox('setValue', '');
            $("#KeyinDate").val('');
            $("#YesGet").val('');
            $("#CashDis").val('');
            $("#SubTot").val('');
            $("#NotGet").val('');
            $("#Total0").val('');
            $("#Total").val('');
            $("#DriveNo").combobox('setValue', '');
            $("#Discount").val('');
            $("#Tax").val('');
            $("#Kg").val('');
            $("#Promotion_No").val('');
        });

        //新增明細資料
        $("#AddDetail").on('click', function () {
            let outNo = $("#OutNo").val();

            if (outNo == '') {
                alert("請選擇檔案!")
            }
            else {

                window.location.href = "@Url.Action("IndexDetail", "Out")/?OutNo=" + outNo;
            }
        });

        //相關資料按鈕
        $('.tool-btn-material').on('click', function () {

            let coNo = $('#CoNo').val();

            if (!coNo) {
                alert("請選擇客戶!");

                return;
            }

            window.location.href = "@Url.Action("Detail","Vendor")/?CoNo=" + coNo;
        });

        //匯出
        $('.tool-btn-export').on('click', function () {

            window.location.href = "@Url.Action("Preview", "Out")";
        });

        // TABs
        $(function () {
            $(".tabs-item:first").addClass("is-active");
            $(".tabs-content:first").addClass("is-active");
            $(".tabs-item").click(function () {
                $(this).addClass("is-active");
                $(this).siblings().removeClass("is-active");
                $(".tabs-content").siblings().removeClass("is-active");
                $(".tabs-content").eq($(this).index()).addClass("is-active");
            });
        });

        // 找資料 function
        function FindDetails(outNo) {
            $.ajax({
                url: "@Url.Action("Search", "Out")",
                type: "POST",
                data: { OutNo: outNo },
                success: function (data) {
                    $("#OutNo").val(data.outNo);
                    $("#OutType").val(data.outType);
                    $("#OutDate").val(data.outDate);
                    $("#Paymonth").val(data.paymonth);
                    $("#Ntus").val(data.ntus);
                    $("#CoNo").combobox('setValue', data.coNo);
                    $("#Memo").combobox('setText', data.memo);
                    $("#Total1").val(data.total1);
                    $("#Userid").val(data.userid);
                    $("#StockPass").val(data.stockPass);
                    $("#YnClose").val(data.ynClose);
                    $("#PeNo").combobox('setValue', data.peNo);
                    $("#KeyinDate").val(data.keyinDate);
                    $("#YesGet").val(data.yesGet);
                    $("#CashDis").val(data.cashDis);
                    $("#SubTot").val(data.subTot);
                    $("#NotGet").val(data.notGet);
                    $("#Total0").val(data.total0);
                    $("#Total").val(data.total);
                    $("#DriveNo").combobox('setValue', data.driveNo);
                    $("#Discount").val(data.discount);
                    $("#Tax").val(data.tax);
                    $("#Kg").val(data.kg);
                    $("#Promotion_No").val(data.promotion_No);

                    //先把清單資料清空
                    $('.sticky').nextAll('tr').empty();
                    if (data.out20List != null && data.out20List.length > 0) {
                        $.each(data.out20List, function (i, v) {
                            var IsSale = v.isSale ? 'checked' : '';
                            var IsState = v.isState ? 'checked' : '';;
                            $('.sticky').parent().append('<tr><td class="ta-center">' + v.serno + '</td>' +
                                '<td class= "ta-center" > <div class="order-input-promot"> <input type="checkbox" disabled ' + IsSale + '> </div> </td >' +
                                '<td class= "ta-center" > <div class="order-input-stat"> <input type="checkbox" disabled ' + IsState + '><label for=""></label>  </div> </td >' +
                                '<td class= "ta-center" > ' + v.partNo + '</td >' +
                                '<td class= "ta-center"><a href=' + "@Url.Action("Index", "Stock")/?PartNo=" + v.partNo + '>' + v.spec + '</a></td >' +
                                '<td class= "ta-center" > ' + v.qty + '</td >' +
                                '<td class= "ta-center" > ' + v.unit + '</td >' +
                                '<td class= "ta-center" > ' + v.taxType + '</td >' +
                                '<td class= "ta-center" > ' + v.pPrice + '</td >' +
                                '<td class= "ta-center" > ' + v.price + '</td >' +
                                '<td class= "ta-center" > ' + v.discount + '</td >' +
                                '<td class= "ta-center" > ' + v.amount + '</td >' +
                                '<td class= "ta-center" > ' + v.sPrice + '</td >' +
                                '<td class= "ta-center" > ' + v.stQty + '</td >' +
                                '<td class= "ta-center" > ' + v.memo + '</td ></tr > ');
                        });
                    }
                }
            });
        }

    </script>
</body>
</html>




