@model ERP6.ViewModels.Pur.EditDetailViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "AddDetail";
    //Layout = "~/Views/Shared/Layout.cshtml";
    string UserAc = HttpContextAccessor.HttpContext.Session.GetString("UserAc");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>弘隆食品有限公司</title>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.easyui.min.js"></script>
    <link href="image/favico.ico" rel="shortcut icon">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/easyui.css" rel="stylesheet" />
    @*<script src="~/js/jquery-2.1.4.min.js"></script>*@
    <style>
        .data-item.active {
            background-color: #F5F9FF;
        }
    </style>
</head>
<body>
    <article id="wrap">
        <!-- header -->
        <header class="header-wrap">
            <figure class="logo-wrap"><a href="@Url.Action("Index", "Home",new { UserAC = UserAc})"></a></figure>
            <div class="nav-wrap">
                <ul class="nav-list">
                    <li class="nav-item nav-1 is-active" title="進銷存系統">
                        <a href="@Url.Action("Index", "Vendor")"></a>
                    </li>
                    <li class="nav-item nav-2" title="財務系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-3" title="會計系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-4" title="人事">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-5" title="代號系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-6" title="分析系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-7" title="安全系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-8" title="">
                        <a href="###"></a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <!-- add system -->
                @*<div class="header-btn-add">
                        <a href="">
                            <i></i><span>新增系統</span>
                        </a>
                    </div>*@
                <!-- user info -->
                <div class="user-info">
                    <span>帳號名稱</span>
                    <h2>@UserAc</h2>
                </div>
                <!-- sign out -->
                <button class="signout-btn" onClick='window.location.href = "@Url.Action("Index", "Login")"'></button>
            </div>
        </header>
        <!-- main -->
        <main class="container-wrap">
            <!-- aside -->
            <aside class="aside-wrap">
                <div class="aside-head">STO進銷系統</div>
                <div class="aside-list">
                    <div class="aside-item">
                        <div class="aside-title is-c201 is-active">
                            <h2>進銷系統</h2>
                        </div>
                        <div class="aside-link" style="display: block;">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Vendor")">C201_廠商基本資料檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Customer")">C202_客戶基本資料檔</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Stock")">C203_產品基本資料檔</a>
                                </li>
                                <li class="is-active">
                                    <a href="@Url.Action("Index", "Pur")">C204_採購單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C205_領料入庫資料檔</a>
                                </li>
                                <li>
                                    <a href="">C206_庫存異動單建檔</a>
                                </li>
                                <li>
                                    <a href="">C207_產品促銷單建檔</a>
                                </li>
                                <li>
                                    <a href="">C208_報價單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C209_出貨單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C210_寄賣客戶庫存檔</a>
                                </li>
                                <li>
                                    <a href="">C211_產品期初資料檔</a>
                                </li>
                                <li>
                                    <a href="">C212_盤點單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C213_加工產品資料檔</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- inner -->
            <div class="container-inner">
                <!-- top -->
                <div class="top-wrap">
                    <!-- top-title -->
                    <div class="top-title">
                        <h2>C204_採購單明細資料建檔</h2>
                    </div>
                    <!-- top-toollist -->
                    <div class="top-toollist">
                        <ul>
                            <li>
                                <button class="tool-btn-leave"><span>離開</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- content -->
                <div class="container-content">
                    <div class="container-column">
                        <div class="container-col-1">
                            <div class="data-wrap">
                                <div class="data-title">
                                    <div class="f-1 ta-left">採購單號</div>
                                    <div class="f-1 ta-left">序號</div>
                                </div>
                                <div class="data-list">
                                    @foreach (var item in Model.pur20List)
                                    {
                                        <div class="data-item">
                                            <div class="f-1 pur20 purno ta-left">@item.PurNo</div>
                                            <div class="f-1 pur20 purno ta-left">@item.Serno</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="container-col-2">
                            <form id="form" method="post">
                                @Html.HiddenFor(x => x.PurNo)
                                <div class="inside-wrap">
                                    <div class="inside-overflow">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">序號</label>
                                                            @Html.TextBoxFor(x => x.Serno, new { @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        @*<div class="form-input">
                                                                <label for="">產品編號</label>
                                                                @Html.TextBoxFor(x => x.PartNo, new { @readonly = "readonly" })
                                                            </div>*@
                                                        <div class="form-input">
                                                            <label for="">產品編號</label>
                                                            <div class="option">
                                                                @Html.DropDownListFor(x => x.PartNo, ViewBag.Stock10ListData as SelectList, "", htmlAttributes: new { @class = "easyui-combobox" })
                                                                @*<input id="PartNo" name="PartNo" class="easyui-combobox" />*@
                                                                @*@Html.TextBoxFor(x => x.PartNo, new { @class = "easyui-combobox",})*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="form-flex f-s">
                                                            <div class="form-input">
                                                                <label for="">品名規格</label>
                                                                @Html.TextBoxFor(x => x.Spec)
                                                            </div>
                                                        </div>*@
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">採購量</label>
                                                            @Html.TextBoxFor(x => x.Qty)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">單位</label>
                                                            @Html.DropDownListFor(x => x.Unit, ViewBag.UnitList as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">稅別</label>
                                                            <div class="option">
                                                                @Html.DropDownListFor(x => x.TaxType, ViewBag.TaxTypeList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">單價</label>
                                                            @Html.TextBoxFor(x => x.Price)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">折扣率</label>
                                                            @Html.TextBoxFor(x => x.Discount)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">金額</label>
                                                            @Html.TextBoxFor(x => x.Amount, new { @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">備註</label>
                                                            @Html.TextBoxFor(x => x.Memo)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">已進量</label>
                                                            @Html.TextBoxFor(x => x.InQty)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-bottom">
                                            <button type="button" class="btn-clean search">清除條件</button>
                                            <button type="button" id="btnSubmit" class="btn-submit">確定</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- popup -->
        <!-- 確認視窗 -->
        <div class="popup-wrap check">
            <div class="p-form">
                <p>是否確定執行?</p>
                <div class="p-btn pad-0">
                    <button type="button" class="btn-cancel small check">取消</button>
                    <button type="button" id="btnCheck" class="btn-submit small check">確定</button>
                </div>
            </div>
        </div>
        <!-- overlay -->
        <div class="popup-overlay"></div>
    </article>
    <!-- JS -->
    <script src="~/js/script.js"></script>
    <script>

        $("#PartNo").combobox({
            url: "@Url.Action("AjaxStockForEasyUI", "Ajaxs")",
            required: false,
            valueField: 'id',
            textField: 'text',
            onSelect: function (data) {
                $("#Unit").val(data.unit);
                $("#TaxType").val(data.taxType);
                $("#Price").val(data.price)
            }
        });

        $("#Qty").on('change', function () {
            let qty = $("#Qty").val();
            let price = $("#Price").val();
            let amount = 0;

            if (qty && price) {

                amount = qty * price;

                return $("#Amount").val(amount);
            }
            else {
                return $("#Amount").val('0');
            }
        });

        $("#Price").on('change', function () {
            let qty = $("#Qty").val();
            let price = $("#Price").val();
            let amount = 0;

            if (qty && price) {

                amount = qty * price;

                return $("#Amount").val(amount);
            }
            else {
                return $("#Amount").val('0');
            }
        });

        //初始資料
        $(function () {
            //先清除所有資料的綁定狀態
            $('.data-item').each(function (i, v) {
                $(this).removeClass('active');
            });
        });

        //新增資料
        $(function () {
            $('#btnSubmit').on('click', function () {
                //開啟確認視窗
                $(".popup-wrap.check").addClass("is-active");
                $(".popup-overlay").addClass("is-active");

                //按下取消按鈕
                $('.btn-cancel.small.check').on('click', function () {

                    $(".popup-wrap.check").removeClass("is-active");
                    $(".popup-overlay").removeClass("is-active");

                    window.location.href = "@Url.Action("IndexDetail", "Pur")";
                });

                //按下確認按鈕
                $('#btnCheck').on('click', function () {

                    let fromData = $("#form").serialize();

                    $.ajax({
                        url: "@Url.Action("EditDetail", "Pur")",
                        data: fromData,
                        type: 'POST',
                        success: function (data) {
                            if (data.isTrue) {
                                alert("編輯成功");

                                let purNo = data.purNo;

                                window.location.href = "@Url.Action("IndexDetail", "Pur")/?PurNo=" + purNo;

                            }
                            else {
                                alert(data.errorMessage);
                            }
                        }
                    });

                    $(".popup-wrap.check").removeClass("is-active");
                    $(".popup-overlay").removeClass("is-active")

                });
            });
        });

        //清空資料
        $(function () {
            $(".btn-clean.search").on('click', function () {
                //清除資料
                //清除資料
                $("#Serno").val('');
                $("#PurNo").combobox('setValue', '');
                $("#Spec").val('');
                $("#Qty").val('');
                $("#Unit").val('');
                $("#TaxType").val('');
                $("#Price").val('');
                $("#Discount").val('');
                $("#Amount").val('');
                $("#Memo").val('');
                $("#InQty").val('');
            });
        });

        //離開
        $(function () {
            $(".tool-btn-leave").on('click', function () {
                window.location.href = "@Url.Action("Index","Pur")";
            });
        });

    // TABs
    $(function () {
            $(".tabs-item:first").addClass("is-active");
            $(".tabs-content:first").addClass("is-active");
            $(".tabs-item").click(function () {
                $(this).addClass("is-active");
                $(this).siblings().removeClass("is-active");
                $(".tabs-content").siblings().removeClass("is-active");
                $(".tabs-content").eq($(this).index()).addClass("is-active");
            });
        });
    </script>
</body>
</html>




