@model ERP6.ViewModels.Customer.CustomerAddViewModel

@{ Layout = "~/Views/Shared/STOLayout.cshtml"; }

<div class="container-inner">
    <!-- top -->
    <div class="top-wrap">
        <!-- top-title -->
        <div class="top-title">
            <h2>C202_客戶基本資料檔</h2>
        </div>
        <!-- top-toollist -->
        <div class="top-toollist">
            <ul>
                <li>
                    <button class="tool-btn-confirm"><span>確認</span></button>
                </li>
                <li>
                    <button class="tool-btn-cancel"><span>取消</span></button>
                </li>
            </ul>
        </div>
    </div>
    <!-- content -->
    <div class="container-content">
        <div class="container-column">
            <div class="container-col-2">
                <form id="myForm" method="post">
                    @Html.HiddenFor(x => x.Back)
                    <div class="inside-wrap">
                        <div class="inside-overflow">
                            <div class="form-wrap">
                                <div id="cloneEle" class="form-group">
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">客戶編號*</label>
                                                @Html.TextBoxFor(x => x.CoNo)
                                            </div>
                                        </div>
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">統一編號*</label>
                                                @Html.TextBoxFor(x => x.Uniform)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">客戶類別*</label>
                                                <select name="CusType" id="CusType">
                                                    <option value="">請選擇</option>
                                                    <option value="1">銷付</option>
                                                    <option value="2">進付</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">公司名稱*</label>
                                                @Html.TextBoxFor(x => x.Company)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">客戶簡稱</label>
                                                @Html.TextBoxFor(x => x.Coname)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">發票抬頭</label>
                                                @Html.TextBoxFor(x => x.Invocomp)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">結帳日期</label>
                                                <select name="Dlien" id="Dlien">
                                                    <option value="">請選擇</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="月底">月底</option>
                                                    <option value="21">21</option>
                                                    <option value="31">31</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">電話一*</label>
                                                @Html.TextBoxFor(x => x.Tel1)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">負責人*</label>
                                                @Html.TextBoxFor(x => x.Boss)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">傳真*</label>
                                                @Html.TextBoxFor(x => x.Fax)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">負責業務</label>
                                                <div class="select">
                                                    @Html.DropDownListFor(x => x.PeNo, ViewBag.BusinessList as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">電話二*</label>
                                                @Html.TextBoxFor(x => x.Tel2)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">聯絡人*</label>
                                                @Html.TextBoxFor(x => x.Sales)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">行動電話</label>
                                                @Html.TextBoxFor(x => x.Mobile)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">司機</label>
                                                <div class="select">
                                                    @Html.DropDownListFor(x => x.DriveNo, ViewBag.DriverList as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">通訊地址*</label>
                                                @Html.TextBoxFor(x => x.Compaddr)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input col-2">
                                                <label for="">稅別</label>
                                                <select name="TaxType" id="TaxType">
                                                    <option value="">請選擇</option>
                                                    <option value="0">零稅</option>
                                                    <option value="1">外加</option>
                                                    <option value="2">內含</option>
                                                </select>
                                            </div>
                                            <div class="form-input unit-percent col-2">
                                                <label for="">稅率</label>
                                                @Html.TextBoxFor(x => x.Taxrate)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">倉庫地址*</label>
                                                @Html.TextBoxFor(x => x.Sendaddr)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">區域類別</label>
                                                <div class="select">
                                                    @Html.DropDownListFor(x => x.AreaNo, ViewBag.Area as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">營業項目</label>
                                                @Html.TextBoxFor(x => x.Product)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">單價列印</label>
                                                <select name="PrintPrice" id="PrintPrice">
                                                    <option value="">請選擇</option>
                                                    <option value="Y">是</option>
                                                    <option value="N">否</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-flex f-1">
                                            <div class="form-input">
                                                <label for="">售價類別</label>
                                                @*<select name="PriceType" id="PriceType">
                                                        <option value="批發價">批發價-北</option>
                                                        <option value="門市價">進貨付款-中</option>
                                                        <option value="公教價">進貨付款</option>
                                                    </select>*@
                                                @Html.DropDownListFor(x => x.PriceType, ViewBag.PriceTypeList as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-flex f-1">
                                            <div class="form-input unit-percent">
                                                <label for="">現金扣%</label>
                                                @Html.TextBoxFor(x => x.Discount)
                                            </div>
                                        </div>
                                        <div class="form-flex f-s">
                                            <div class="form-input">
                                                <label for="">計價幣別</label>
                                                <select name="Ntus" id="Ntus">
                                                    <option value="NTD">NTD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-wrap">
                                <div class="tabs-nav">
                                    <ul>
                                        <li class="tabs-item min-size is-active">資料</li>
                                    </ul>
                                </div>
                                <div class="tabs-main">
                                    <div class="tabs-content">
                                        <div class="form-row">
                                            <div class="form-flex f-1">
                                                <div class="form-input">
                                                    <label for="">付款帳號</label>
                                                    @Html.TextBoxFor(x => x.Payaccount)
                                                </div>
                                            </div>
                                            <div class="form-flex f-s">
                                                <div class="form-input">
                                                    <label for="">付款銀行</label>
                                                    <select name="Paybank" id="Paybank">
                                                        <option value="">請選擇</option>
                                                        <option value="台灣銀行">台灣銀行</option>
                                                        <option value="上海銀行">上海銀行</option>
                                                        <option value="板信銀行">板信銀行</option>
                                                        <option value="淡水信合社">淡水信合社</option>
                                                        <option value="中華郵政">中華郵政</option>
                                                        <option value="聯邦銀行">聯邦銀行</option>
                                                        <option value="遠東銀行">遠東銀行</option>
                                                        <option value="元大銀行">元大銀行</option>
                                                        <option value="玉山銀行">玉山銀行</option>
                                                        <option value="萬泰銀行">萬泰銀行</option>
                                                        <option value="華南銀行">華南銀行</option>
                                                        <option value="台新銀行">台新銀行</option>
                                                        <option value="大眾銀行">大眾銀行</option>
                                                        <option value="日盛銀行">日盛銀行</option>
                                                        <option value="安泰銀行">安泰銀行</option>
                                                        <option value="中國信託商業銀行">中國信託商業銀行</option>
                                                        <option value="永豐銀行">永豐銀行</option>
                                                        <option value="第一銀行">第一銀行</option>
                                                        <option value="合作金庫">合作金庫</option>
                                                        <option value="台灣中小銀行">台灣中小銀行</option>
                                                        <option value="台北富邦商業銀行">台北富邦商業銀行</option>
                                                        <option value="國泰世華商業銀行">國泰世華商業銀行</option>
                                                        <option value="土地銀行">土地銀行</option>
                                                        <option value="彰化銀行">彰化銀行</option>
                                                        <option value="兆豐商銀">兆豐商銀</option>
                                                        <option value="花旗(台灣)銀行">花旗(台灣)銀行</option>
                                                        <option value="渣打國際商銀">渣打國際商銀</option>
                                                        <option value="台中商銀">台中商銀</option>
                                                        <option value="京城商銀">京城商銀</option>
                                                        <option value="匯豐(台灣)銀行">匯豐(台灣)銀行</option>
                                                        <option value="大台北銀行">大台北銀行</option>
                                                        <option value="華泰商業銀行">華泰商業銀行</option>
                                                        <option value="台灣新光商銀">台灣新光商銀</option>
                                                        <option value="台北五信">台北五信</option>
                                                        <option value="台北九信">台北九信</option>
                                                        <option value="陽信銀行">陽信銀行</option>
                                                        <option value="基隆一信">基隆一信</option>
                                                        <option value="基隆二信">基隆二信</option>
                                                        <option value="淡水一信">淡水一信</option>
                                                        <option value="桃園農會">桃園農會</option>
                                                        <option value="大溪農會">大溪農會</option>
                                                        <option value="楊梅農會">楊梅農會</option>
                                                        <option value="大園農會">大園農會</option>
                                                        <option value="樹林農會">樹林農會</option>
                                                        <option value="鶯歌農會">鶯歌農會</option>
                                                        <option value="三峽農會">三峽農會</option>
                                                        <option value="八里農會">八里農會</option>
                                                        <option value="農會">農會</option>
                                                        <option value="信用合作社">信用合作社</option>
                                                        <option value="漁會">漁會</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-flex f-1">
                                                <div class="form-input">
                                                    <label for="">付款方式</label>
                                                    @Html.TextBoxFor(x => x.Payment)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-flex f-1">
                                                <div class="form-input">
                                                    <label for="">電子郵件</label>
                                                    @Html.TextBoxFor(x => x.Email)
                                                </div>
                                            </div>
                                            <div class="form-flex f-1">
                                                <div class="form-input">
                                                    <label for="">票期天數</label>
                                                    @Html.TextBoxFor(x => x.ChehkDay)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-flex f-1">
                                                <div class="form-input">
                                                    <label for="">網址</label>
                                                    @Html.TextBoxFor(x => x.Www)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-flex f-1">
                                                <div class="form-input">
                                                    <label for="">備註</label>
                                                    @Html.TextBoxFor(x => x.Memo)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // 確認
        $('.tool-btn-confirm').on('click', function () {
            //開啟確認視窗
            $(".popup-wrap.check").addClass("is-active");
            $(".popup-overlay").addClass("is-active");

            $('.btn-cancel.small.check').off('click')
            $('.btn-submit.small.check').off('click')
            // 取消
            $('.btn-cancel.small.check').on('click', function () {
                $(".popup-wrap.check").removeClass("is-active");
                $(".popup-overlay").removeClass("is-active");

            })
            // 確認
            $('.btn-submit.small.check').on('click', function () {
                $('#myForm').submit()
            })
        })
        // 取消
        $('.tool-btn-cancel').on('click', function () {
            window.location.href = '@Url.Action("Index","Customer",new { Back = Model.Back })';
        })
    })
</script>

@* 提示訊息 *@
@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <script>
        $(function () {
            var ErrorMessage = "@Model.ErrorMessage";
            alert(ErrorMessage)
        })
    </script>
}
